@keyframes navSlider {
  from {
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.3);
  }
  to {
    transform: translateX(0);
    color: rgba(0, 0, 0, 1);
  }
}

#navbar-container {
  z-index: -5;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  top: 0px;
}

.main {
  z-index: -5;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  top: 0px;
}

#navbar-container div {
  width: 14%;
  height: 0;
  padding-top: 14%; /* Define o padding-top para criar um círculo */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgb(0, 63, 139);
  background: linear-gradient(
    3deg,
    rgba(0, 56, 209, 0.377) 0%,
    rgb(34, 34, 168) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden; /* Impede que o conteúdo transborde */
}

#navbar-container a {
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  padding-top: 30%;
  background-color: white;
  margin-bottom: 100%;
  padding-bottom: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-container span {
  color: black;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  height: auto;
  padding-top: 25%;
  text-align: center;
  overflow: hidden;
}

#navbar-container span:hover {
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  color: rgb(0, 37, 116);
}

@media (max-width: 768px) {
  #navbar-container a {
    overflow: hidden;
    font-size: small;
  }

  #navbar-container a {
    font-size: min(1.5vw, 1.4vw);
  }
}
